@model IEnumerable<MVCday6.Models.Staff>



<p>
	<a asp-controller="Staff" asp-action="Create" class="btn btn-dark">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				<h4>Name</h4>
			</th>
			<th>
				<h4>contact info</h4>
			</th>
			<th>
				<h4>assigned section</h4>
			</th>
			<th>
				<h4>employment date</h4>
			</th>
			<th>
				<h4>experience</h4>
			</th>


		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{

			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ContactInfo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AssignedSection)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EmploymentDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Experience)
				</td>

			</tr>
		}

	</tbody>
